@media only screen and (max-width:999px){
    .lads{
        width: 90%;
    }
}
@media only screen and (max-width:928px){
    .babdu{
        margin-top: 6%;
        font-size: 16px;
    }
    .wonnaplay{
        margin-top: 5%;
    }
    .jealous{
        width: 58%;
    }
}
@media only screen and (max-width:925px){
    .mymouth1{
        font-size: 1em;
    }
}
@media only screen and (max-width:863px){
    .wonnaplay{
        width: 71%;
    }
    .babdu{
        width: 71%;
    }
}
@media only screen and (max-width:843px){
    .negro{
        width: 55%;
    }
}
@media only screen and (max-width:810px){
    .youe{
        font-size: 65px;
    }
    .fre{
        padding-top: 11%;
    }
    .fontwraper{
        width: 70%;
    }
}
@media only screen and (max-width:770px){
    .youe{
        font-size: 60px;
    }
    .fre{
        padding-top: 16%;
    }
    .negro{
        width: 60%;
    }
    .Fuckme_dear{
        margin-top: 13%;
    }
}
@media only screen and (max-width:753px){
    .wonnaplay{
        width: 80%;
    }
    .babdu{
        width: 80%;
    }
    .bad_boy{
        font-size: .7em;
    }
}
@media only screen and (max-width:720px){
    .wonnaplay{
        margin-top: 7%;
    }
    .youe{
        font-size: 58px;
    }
    .mymouth1{
        font-size: .9em;
    }
    .mymouth{
        font-size: .8em;
    }
}
@media only screen and (max-width:700px){
    .parentcontainer{
        height: auto;
    }
    .secondcontainer{
        flex-direction: column-reverse;
    }
    .Brother1{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .Brother2{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .fre{
        padding-bottom: 5%;
        padding-top: 0;
    }
    .youe{
        margin-top: 7%;
    }
    .babdu{
        width: 55%;
        margin-top: 4%;
    }
    .wonnaplay{
        width: 55%;
        /* margin-top: 1%; */
    }
    .tekno{
        margin-top: 4%;
    }
}
@media only screen and (max-width:680px){
    .tekno{
        font-size: 46px;
    }
    .jealous{
        width: 65%;
    }
}
@media only screen and (max-width:600px){
    .jealous{
        width: 72%;
    }
}
@media only screen and (max-width:551px){
    .babdu{
        width: 71%;
    }
    .wonnaplay{
        width: 70%;
    }
    .fontwraper{
       width: 76%;
    }
    .jealous{
        padding-top: 4.2%;
    }
    .negro{
        width: 67%;
    }
}
@media only screen and (max-width:520px){
    .negro{
        width: 68%;
    }
    .tekno{
        width: 73%;
    }
}
@media only screen and (max-width:500px){
    .tekno{
    font-size: 40px;
    }
    .negro{
        font-size: .9em;
    }
    .jealous {
        width: 81%;
    }
} 
@media only screen and (max-width:440px){
    .babdu{
        font-size: 14px;
    }
    .wonnaplay{
        font-size: .9em;
    }
}
@media only screen and (max-width:420px){
    .successContainer{
        padding: 0;
    }
    .jealous{
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding-top: 30.2%;
    }
    .tekno {
        font-size: 42px;
        width: 80%;
    }
    .negro{
        font-size: 1.1em;
        width: 76%;
    }
    .Fuckme_dear{
        margin-top: 40%;
        height: 48px;
        width: 84%;
    }
}
@media only screen and (max-width:412px){
    
}
@media only screen and (max-width:370px){
    .mymouth1 {
        font-size: .8em;
    }
}